/* -- CSS RESET -- */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
    font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
}


/* -- VARIABLES -- */


/* -- CSS STYLES -- */

.grid-container {
    display: grid;
    grid-template-rows: max-content max-content;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 2.5rem;
}

.search-form {
    display: flex;
    flex-wrap: nowrap;
}

.search-button {
    background-color: transparent;
    border: none;
    flex-shrink: 0;
}

.search-icon {
    fill: black;
    width: 1.5rem;
    flex-shrink: 0;
}

.search-input {
    border: none;
    background-color: rgb(231, 230, 230);
    border-radius: 25px;
    flex: 1 1 none;
    min-width: 0;
    height: 2rem;
}

.header h2 {
    place-self: center;
}

.add-books-button {
    justify-self: end;
    padding: 0.5rem 2.5rem;
    border-radius: 25px;
    border: none;
}


/* Main content */

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(250px, 40vw, 500px), 1fr));
    justify-content: center;
    gap: 2rem;
    
    padding: 2rem;
    background-color: rgb(244, 242, 242);
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;

    padding: 1rem;
    background-color: #3D1E6D;
    border-radius: 20px;
    max-height: 550px;
}

.card-controls {
    display: flex;
    justify-content: space-between;
}

.delete-book {
    background-color: transparent;
    border: none;
}

.delete-icon {
    width: 1.5rem;
    fill: #ECA72C;
}

.read-button { 
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0.4em 1.8em;  
    border-radius: 25px;
    border: none;
    fill: #ECA72C;

    font-size: clamp(1rem, 1.1rem);
}

.read-icon {
    width: 1.5em;
}

.button-text{
    font-weight: 500;
}

.card-content{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    padding: 2rem;
    color: #ECA72C;
}

.card-info{ 
    height: clamp(17vw, 35vw, 250px);

    min-width: 160px;
    flex: 1 1 100px;
}


.genre.icon {
    width: clamp(4.67rem, 5vw + 2.7rem, 7rem);
    fill:#ECA72C;
    flex-shrink: 0;
}

.book-title {
    font-size: clamp(1.4rem, 1.5vw + 0.8rem, 2.1rem);
    font-weight: bold;
}

.book-author {
    font-size: clamp(1.1rem, 1vw + 0.7rem, 1.6rem);
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.book-author span {
    font-size: clamp(1.0rem, 1vw + 0.6rem, 1.4rem);
    font-weight: 500;
}

.book-info {
    display: flex;
    gap: 1rem;

    margin-top: 0.5rem;
    border-top: 0.5px solid #ECA72C;
    padding-top: 0.5rem;
    font-size: clamp(0.9rem, 0.4vw + 0.8rem, 1.1rem);
}